html,body {
 padding: 0;
 margin: 0;
 font-family: 'Open Sans',Helvetica,Arial,Verdana,sans-serif;
}
.content {
 margin: 60px auto 0 auto;
 font-size: 16px;
 color: #242424;
 line-height: 1.7em;
 font-weight: 300;
}
h1 {
  font-size: 28px;
  font-weight: 400;
}
h2 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-weight: 400;
}

h3 {
  font-size: 28px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
}
a {
  text-decoration: none;
  color: inherit;
}
.content a:hover {
  color: #333;
  text-decoration: underline;
}


.col1a, .col2a {
 display: inline-block;
 vertical-align: top;
}

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #565555;
  color: white;
  padding: 0;
  margin: 0;
  font-family: 'Lato',Helvetica,Arial,Verdana,sans-serif;
  font-weight: 400;
  z-index: 100;
}
#nav_items {
  font-size: 16px;
  position: relative;
  width: 1020px;
  margin: 0 auto;
}
.nav_item {
  text-align: center;
  display: inline-block;
  width: 195px;
  padding:  14px 0;
}
#nav_items .nav_logo {
  margin-left: 20px;
  text-align: left;
}

.nav_last_item {
 text-align: right;
 width: 175px;
 margin-right: 20px;
}

.nav_item img {
  height: 30px;
  margin-top: -8px;
  margin-bottom: -8px;
}
.nav_item:hover {
  color: #ccc;
  cursor: pointer;
}


#bars {
 position: fixed;
 margin-top: 10px;
 margin-right: 10px;
 display: inline-block;
 text-align: right;
 right: 0;
}
#bars img {
 width: 28px;
 height: 28px;
}

@media all and (max-width: 459px) {
 .content {
  min-width: 380px;
  padding: 0 10px;
  font-size: 20px;
 }
 .col1a {
  width: 100%;
 }
 .col2a {
  //display: none;
 }
 #nav_items {
   width: 100%;
 }
 #nav_items .nav_item {
  display: none;
 }
 #bars, #nav_items .nav_logo {
  display: inline-block;
 }

}


@media all and (min-width: 450px) and (max-width: 767px) {
 .content {
  min-width: 390px;
  padding: 0 30px;
 }
 .col1a {
  width: 100%;
 }
 .col2a {
  //display: none;
 }
 #nav_items {
   width: 100%;
 }
 #nav_items .nav_item {
  display: none;
 }
 #bars, #nav_items .nav_logo {
  display: inline-block;
 }
}

@media all and (min-width: 768px) and (max-width: 1019px) {
 .content {
  padding: 0 30px;
  width: 708px;
 }
 .col1a {
  width: 459px;
  margin-right: 26px;
 }
 .col2a {
  width: 218px;
 }
 #nav_items {
  font-size: 14px;
  width: 768px;
 }
 .nav_item {
  width: 140px;
 }
 #nav_items_right {
  font-size: 12px;
 }
 #nav_items #bars {
  display: none;
 }
}

@media all and (min-width: 1020px) {
 .content {
  padding: 0 30px;
  width: 960px;
 }
 .col1a {
  width: 630px;
  margin-right: 20px;
 }
 .col2a {
  width: 300px;
 }
 #nav_items #bars {
  display: none;
 }
}

.clearfix {
 padding: 0;
 margin: 0;
 height: 0;
 clear: both;
}


#footer {
  background: #e3dfd4;
  width: 100%;
  font-family: 'Lato',Helvetica,Arial,Verdana,sans-serif;
  font-weight: 300;

}
#footer .content {
  padding: 40px 0;
  color: black;
  font-size: 14px;
  text-align: center;
}

.book_image {
 text-align: center;
 margin-left: 40px;
}
