rewriteengine on
Options +Indexes

Redirect 301 ^/bgroup/background/$                  http://www.braungroupllc.com/index.html
Redirect 301 ^/bgroup/client_books/$                http://www.braungroupllc.com/general_biographies.html
Redirect 301 ^/bgroup/clients/$                     http://www.braungroupllc.com/index.html
Redirect 301 ^/bgroup/connect/$                     http://www.braungroupllc.com/team.html
Redirect 301 ^/bgroup/consulting/$                  http://www.braungroupllc.com/venture_development.html
Redirect 301 ^/bgroup/home/$                        http://www.braungroupllc.com/index.html
Redirect 301 ^/bgroup/process/$                     http://www.braungroupllc.com/index.html
Redirect 301 ^/bgroup/tag/                          http://www.braungroupllc.com/index.html#
Redirect 301 ^/bgroup/team/$                        http://www.braungroupllc.com/team.html
Redirect 301 ^/bgroup/$                             http://www.braungroupllc.com/index.html
